.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-image: url(https://www.readings.com.pk/images/books/9789696403012.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(2n) {
  background-image: url(https://www.readings.com.pk/images/books/9780863569418.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(3n) {
  background-image: url(https://www.readings.com.pk/images/books/9781529095364.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(4n) {
  background-image: url(https://www.readings.com.pk/images/books/9780600637837.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(5n) {
  background-image: url(https://www.readings.com.pk/images/books/9781408728864.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(6n) {
  background-image: url(https://www.readings.com.pk/images/books/9780008646271.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(7n) {
  background-image: url(https://www.readings.com.pk/images/books/9781529029581.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(8n) {
  background-image: url(https://www.readings.com.pk/images/books/9789696402886.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
